[submodule "interp/parser"]
	path = interp/parser
	url = https://github.com/resource-reasoning/JS_Parser.git
[submodule "lib/tlc"]
	path = lib/tlc
	url = https://scm.gforge.inria.fr/anonscm/git/tlc/tlc.git
	ignore = dirty
