.depend
flocq
tlc
settings.sh

*.vo
*.glob
interpreter
interpreter.cmi
interpreter.cmx
interpreter.o
interpreter.ml
interpreter.mli
syntax.ml
syntax.mli
TAGS
*.xml
report

/interp/run_jsbisect
/test_data/query_scripts/cabal-dev/*
/test_data/query_scripts/dist/*
/test_data/test_results.db
/test_reports/*
/interp/src/*.cmo

*~

